
<!-- Include Opening HTML -->
<%- include('../common/html-open') %>

<!-- Include TopDrop / Header -->
<%- include('top-drop') %>


<div class="container-fluid body-container">
    <!-- Include Projects Section -->
    <%- include('projects-section') %>
</div>


<!-- Include Closing HTML -->
<%- include('../common/html-close') %>